.FormPost__cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.FormPost__form {
    align-items: center;
    background-color: $white;
    border: 1px solid $gray;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 60px;
    padding-bottom: 10px;
    height: 620px;
    margin-bottom: 50px;
}

.FormPost__dataCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.FormPost__fieldCont {
    display: flex;
    align-items: center;
    width: 70%;    
    margin-top: 20px;
}

.FormPost__fieldTitle {
    display: flex;
    width: 30%;
}

.FormPost__h3 {
    font-family: $openSans;
    width: 70%;
    text-align: left;
    padding-left: 25px;
}

.FormPost__fieldInp{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 70%;
}

.FormPost__fieldInp div{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
}

.FormPost__label {
    padding-left: 10px;
}

.FormPost__input {
    width: 100%;
    outline: none;
    height: 30px;
    border-color: $gray;
}

.FormPost__textarea {
    border-color: $gray;
    font-family: $archivo;
    height: 150px;
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
}

.FormPost__submit{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;
}

.FormPost__upload{
    display: flex;
    align-items: center;
}