.nav__header {
    display: flex;
    background-color: $white;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    box-shadow: 1px 1px $gray;
    position: fixed;
}
.nav__logo{
    width: 120px;
    margin-left:16px;
}
.nav__nabvar {
    width: 20%;
}
.nav__linksCont{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.nav__item{
    padding: 10px;
}
.nav__link{
    font-family: $openSans;
    font-size: 16px;
    cursor:pointer;
    color: #262626;
}

// MAKING RESPONSIVE
@media only screen and (max-width:500px){
    .nav__link{
        font-size: 14px;
    }
    .nav__logo{
        width: 100px;
        margin-left:14px;
    }
    .nav__item{
        padding: 18px 6px 18px 6px;
    }
}