* {
    margin: 0px;
    list-style: none;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: $primary;
    font-family: $sora;
    font-size: 12px;
}

body::-webkit-scrollbar, .styled-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical, .styled-scroll::-webkit-scrollbar {
    width:7px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button,
.styled-scroll::-webkit-scrollbar-button:increment, .styled-scroll::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 5px;
}

.styled-scroll::-webkit-scrollbar-thumb  {
    background-color: #DEDEDE;
    border-radius: 5px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

// Margin Top
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}
.mt-4 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 25px;
}

// Margin Left
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px
}
.ml-3 {
    margin-left: 15px;
}
.ml-4 {
    margin-left: 20px;
}
.ml-5 {
    margin-left: 40px;
}

// Padding
.p-1 {
    padding: 5px;
}

.pl-1{
    padding-left: 5px;
}
 
.p-2 {
    padding: 10px;
}
.p-3 {
    padding: 25px;
}

// Text Colors
.text-gray {
    color: #333333;
}
.text-red {
    color: #C43434;
}

// display
.none {
    display: none
}

// pointer
.pointer {
    cursor: pointer;
}

// align
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

// Width
.w-full {
    width: 100%
}

// Images
.img-icon {
    width: 30px;
    height: 30px;
}
.normal-img {
    width: 350px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 9999px;
}