* {
    margin: 0px;
    list-style: none;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: $primary;
    font-family: $sora;
    font-size: 12px;
}

// Margin Top
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}
.mt-4 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 25px;
}

// Margin Left
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px
}
.ml-3 {
    margin-left: 15px;
}
.ml-4 {
    margin-left: 20px;
}
.ml-5 {
    margin-left: 40px;
}

// Padding
.p-1 {
    padding: 5px;
}
.p-2 {
    padding: 10px;
}

// Text Colors
.text-gray {
    color: #333333;
}
.text-red {
    color: #C43434;
}

// display
.none {
    display: none
}

// pointer
.pointer {
    cursor: pointer;
}

// align
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

// Width
.w-full {
    width: 100%
}