
// APP palette Colors
$primary : #F9F9F9;
$secondary : #409FFF;
$white : #fff;
$gray : #D9E1E6;

// FONTS
$archivo : 'Archivo', 'sans-serif';
$openSans : 'Open Sans', 'sans-serif';
$sora : 'Sora', 'sans-serif';
